---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
skipPhases:
  - addon/kube-proxy
nodeRegistration:
  criSocket: unix:///var/run/containerd/containerd.sock
certificateKey: {{ k8s_certificate_key }}
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ k8s_control_plane_endpoint }}"
networking:
  podSubnet: "{{ k8s_pod_cidr }}"
  serviceSubnet: "{{ k8s_service_cidr }}"
  dnsDomain: "cluster.local"
apiServer:
  certSANs:
    - "127.0.0.1"
    - "localhost"
{% for ip in k8s_master_ips %}
    - "{{ ip }}"
{% endfor %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
imageGCHighThresholdPercent: 70
imageGCLowThresholdPercent: 60
imageMaximumGCAge: 168h
