# Host user (created on all bare-metal hosts)
HOST_USER=gjovanov
HOME_DIR=/home/gjovanov

# Bare-metal host IPs
MARS_PUBLIC_IP=94.130.141.98
ZEUS_PUBLIC_IP=5.9.157.226
JUPITER_PUBLIC_IP=5.9.157.221

# Bare-metal host network interfaces
MARS_INTERFACE=eth0
ZEUS_INTERFACE=enp5s0
JUPITER_INTERFACE=enp5s0

# COTURN
COTURN_AUTH_SECRET=your_secret_here
COTURN_REALM=roomler.live
COTURN_TLS_CERT=/home/gjovanov/cert/roomler.live.fullchain.pem
COTURN_TLS_KEY=/home/gjovanov/cert/roomler.live.key.pem

# Monitoring
GRAFANA_ADMIN_PASSWORD=your_password_here
SMTP_USER=apikey
SMTP_PASSWORD=your_sendgrid_api_key
ALERTMANAGER_EMAIL_TO=goran.jovanov@gmail.com
ALERTMANAGER_EMAIL_FROM=alerts@roomler.live

# SNI Proxy
SNI_PROXY_HOSTNAME=coturn.roomler.live
SNI_PROXY_DOCKER_CONTAINER=nginx
