# Host user (created on all bare-metal hosts)
HOST_USER=deployer
HOME_DIR=/home/deployer

# Bare-metal host IPs
MARS_PUBLIC_IP=198.51.100.10
ZEUS_PUBLIC_IP=198.51.100.20
JUPITER_PUBLIC_IP=198.51.100.30

# Bare-metal host network interfaces
MARS_INTERFACE=eth0
ZEUS_INTERFACE=enp5s0
JUPITER_INTERFACE=enp5s0

# COTURN
COTURN_AUTH_SECRET=your_secret_here
COTURN_REALM=example.com
COTURN_TLS_CERT=/home/deployer/cert/example.com.fullchain.pem
COTURN_TLS_KEY=/home/deployer/cert/example.com.key.pem

# Monitoring
GRAFANA_ADMIN_PASSWORD=your_password_here
SMTP_USER=apikey
SMTP_PASSWORD=your_sendgrid_api_key
ALERTMANAGER_EMAIL_TO=admin@example.com
ALERTMANAGER_EMAIL_FROM=alerts@example.com

# SNI Proxy
SNI_PROXY_HOSTNAME=coturn.example.com
SNI_PROXY_DOCKER_CONTAINER=nginx
