# Ansible cache
.ansible_cache/
*.retry

# SSH keys (private + public)
files/ssh/*/k8s_ed25519
files/ssh/*/k8s_ed25519.ppk
files/ssh/*/*.pub
files/ssh/bootstrap/id_ed25519
files/ssh/bootstrap/id_ed25519.pub

# WireGuard keys (private + public)
files/wireguard/*/private.key
files/wireguard/*/public.key

# Kubeconfig
files/kubeconfig

# iptables backup
backup/

# Logs
logs/

# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
