global
    log /dev/log local0
    maxconn 2048
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    retries 3

frontend k8s-api
    bind 127.0.0.1:{{ haproxy_frontend_port }}
    default_backend k8s-masters

backend k8s-masters
    option tcp-check
    balance roundrobin
{% for ip in k8s_master_ips %}
    server master-{{ loop.index }} {{ ip }}:{{ haproxy_backend_port }} check fall 3 rise 2
{% endfor %}
