global
    log /dev/log local0
    maxconn 2048
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  300s
    timeout server  300s
    retries 3
    option  redispatch

frontend k8s-api
    bind 127.0.0.1:{{ haproxy_frontend_port }}
    default_backend k8s-masters

backend k8s-masters
    option tcp-check
    balance roundrobin
    default-server inter 5s fall 3 rise 1
    server master-local 127.0.0.1:{{ haproxy_backend_port }} check
{% for ip in k8s_master_ips %}
{% if ip != ansible_host %}
    server master-{{ ip | replace('.', '-') }} {{ ip }}:{{ haproxy_backend_port }} check
{% endif %}
{% endfor %}
