[Unit]
Description=Update Docker nginx IP for SNI proxy
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sni-proxy-update-docker-ips.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
